################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/dotnet/OutlookClient/.vs/OutlookClient
